<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <section class="banner">
        <h2>BOOK YOUR TABLE NOW</h2>
        <div class="card-container">
            <div class="card-image">

            </div>
            <form action="/reserve" method="POST">
                <div class="card-content">
                    <h3>Reservation</h3>
                    <h3>You selected Restuarant <%= restuarant %></h3>
                    <div class="form-row">
                        <a href="/"><button type="button" class="btn btn-danger "><span
                                        class="glyphicon glyphicon-plus"></span> Home </button></a>
                                        <input type="date" class="form-control datepicker" name="date" placeholder="select date" required>
                    </div>


                    <!-- <div class="form-row">
                    <select name="days" >
                        <option value="day-select">Select day
                    
                        </option>
                        <option value="sunday">Sunday</option>
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">wednesday</option>
                        <option value="thursday">Thursday</option>
                        <option value="friday">Friday</option>
                        <option value="saturday">Saturday</option>
                    </select>
                <select name="hours">
                    <option value="10">10:00</option>
                    <option value="12">12:00</option>
                    <option value="14">14:00</option>
                    <option value="16">16:00</option>
                    <option value="18">18:00</option>
                    <option value="20">20:00</option>
                    <option value="22">22:00</option>
                </select>
                </div> -->
                    <div class="form-row">
                        <input type="hidden" value=<%= restuarant %> name="restuarant">
                        <input type="text" id="name" name="name" placeholder="Full-Name" required>
                        <input type="tel" id="phonenumber" name="phonenumber" placeholder="PhoneNumber">
                    </div>
                    <div class="form-row">
                        <input type="number" placeholder="How many persons" min="1" required>
                        <input type="email" id="email" name="email" placeholder="email">
                    </div>

                    <div class="form-row">
                        <button type='reset' class="btn  btn-secondary">Reset</button>
                        <button type="submit" class=" btn " id="add-btn">book table</button></div>
                    <div class="form-row">
                        <p id="book"><%= msg %></p>
                    </div>
                </div>

            </form>

        </div>
    </section>
    <script type="text/javascript">
        //    $("#add-btn").on("click", function(event) {
        //   event.preventDefault();
        //   var newTable = {
        //     name: $("#name").val(),
        //     phonenumber: $("#phonenumber").val(),
        //      email: $("#email").val(),
        //     codename: $("#codename").val()
        //   };
        //   $.post("/api/new", newTable)
        //     .done(function(data) {
        //       console.log(data);

        //       $("#name").val("");
        //       $("#phonenumber").val("");
        //        $("#email").val("");
        //       $("#codename").val("");
        //     });



        // });
    </script>

</body>

</html>